@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&family=Space+Grotesk:wght@700&display=swap');
@import "tailwindcss";


body {
  font-family: var(--font-body);
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}


@theme {
  /* Primary system */
  --font-body: "Inter", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;
  --font-ui: "Sen", sans-serif;

  /* Alternatives */
  --font-modern: "Poppins", sans-serif;
  --font-clean: "DM Sans", sans-serif;
  --font-bold: "Montserrat", sans-serif;
}

.shimmer {
  background: linear-gradient(
    90deg,
    #eeeeee 25%,
    #dddddd 50%,
    #eeeeee 75%
  );
  background-size: 200% 100%;
  animation: shimmerMove 1.2s infinite;
}

@keyframes shimmerMove {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}




